<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>audioUrl</key>
		<string>http://www.170mv.com/kw/other.web.rf01.sycdn.kuwo.cn/resource/n3/72/86/4037008982.mp3</string>
		<key>audioName</key>
		<string>可惜没如果</string>
		<key>audioSinger</key>
		<string>林俊杰</string>
		<key>audioImage</key>
		<string>https://gss2.bdstatic.com/-fo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=e8f8ad0fba014a9095334eefc81e5277/a8014c086e061d95fc94258578f40ad163d9cab9.jpg</string>
		<key>audioLyric</key>
		<string>可惜没如果.lrc</string>
		<key>audioAlbum</key>
		<string>新地球</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://mpge.5nd.com/2007/h/20075225298269/52989152.mp3</string>
		<key>audioName</key>
		<string>老人与海</string>
		<key>audioSinger</key>
		<string>海明威</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003rH8SJ2NTPLO.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>老人与海</string>
		<key>audioLyric</key>
		<string>老人与海.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://mpge.5nd.com/2009/2009a/x/24352/1.mp3</string>
		<key>audioName</key>
		<string>天使的翅膀</string>
		<key>audioSinger</key>
		<string>徐腾誉</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003rH8SJ2NTPLO.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>天使的翅膀</string>
		<key>audioLyric</key>
		<string>天使的翅膀.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://mpge.5nd.com/2015/2015-5-6/66943/14.mp3</string>
		<key>audioName</key>
		<string>白狐</string>
		<key>audioSinger</key>
		<string></string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003rH8SJ2NTPLO.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>白狐</string>
		<key>audioLyric</key>
		<string>白狐.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n1/20/55/3360038949.mp3</string>
		<key>audioName</key>
		<string>红昭愿</string>
		<key>audioSinger</key>
		<string>音阙诗听</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000004fqcR20kKXfn.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>红昭愿</string>
		<key>audioLyric</key>
		<string>音阙诗听-红昭愿.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://vip.baidu190.com/uploads/2017/201710ca5f5899b92a90c4fe7c92d1e8a4d76a.mp3</string>
		<key>audioName</key>
		<string>有何不可</string>
		<key>audioSinger</key>
		<string>许嵩</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002KSDg90IaScI.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>自定义</string>
		<key>audioLyric</key>
		<string>许嵩(Vae)-有何不可.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n3/78/89/3135926836.mp3</string>
		<key>audioName</key>
		<string>全部都是你</string>
		<key>audioSinger</key>
		<string>Dragon Pig</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003zb8ZK21AC0C.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>全部都是你</string>
		<key>audioLyric</key>
		<string>Dragon Pig-全部都是你.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rd01.sycdn.kuwo.cn/resource/n2/51/37/2072162997.mp3</string>
		<key>audioName</key>
		<string>死皮赖脸</string>
		<key>audioSinger</key>
		<string>阿悄</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003M67BS2mu7TQ.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>莎话</string>
		<key>audioLyric</key>
		<string>阿悄-死皮赖脸.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n2/44/35/2789729822.mp3</string>
		<key>audioName</key>
		<string>记得我爱你</string>
		<key>audioSinger</key>
		<string>周渝民</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M0000005FOUV1CUrJJ.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>记得我爱你</string>
		<key>audioLyric</key>
		<string>周渝民-记得我爱你.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rg01.sycdn.kuwo.cn/resource/n1/82/58/2383694774.mp3</string>
		<key>audioName</key>
		<string>多幸运</string>
		<key>audioSinger</key>
		<string>韩安旭</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001mdiTe1CDhf6.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>多幸运</string>
		<key>audioLyric</key>
		<string>韩安旭-多幸运.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n3/29/38/2466852912.mp3</string>
		<key>audioName</key>
		<string>消愁</string>
		<key>audioSinger</key>
		<string>毛不易</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002xoonH2Bk7FR.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>明日之子</string>
		<key>audioLyric</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rc01.sycdn.kuwo.cn/resource/n1/62/78/2659067937.mp3</string>
		<key>audioName</key>
		<string>迷宫</string>
		<key>audioSinger</key>
		<string>王若琳</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000000xZ5yk1CjY5V.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>tart From Here</string>
		<key>audioLyric</key>
		<string>王若琳-迷宫.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n3/128/3/11/3233852694.mp3</string>
		<key>audioName</key>
		<string>醉赤壁</string>
		<key>audioSinger</key>
		<string>林俊杰</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000002g6zv02X7SNi.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>JJ陆</string>
		<key>audioLyric</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n2/128/46/33/4185367153.mp3</string>
		<key>audioName</key>
		<string>醉红颜</string>
		<key>audioSinger</key>
		<string>刘依朵</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000003R3gyQ0jBJR9.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>新水浒传</string>
		<key>audioLyric</key>
		<string>刘依朵-醉红颜.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.nf01.sycdn.kuwo.cn/resource/n3/54/68/856190137.mp3</string>
		<key>audioName</key>
		<string>追光者</string>
		<key>audioSinger</key>
		<string>汪苏泷</string>
		<key>audioImage</key>
		<string>https://y.gtimg.cn/music/photo_new/T002R300x300M000001OJP0R3NGeiF.jpg?max_age=2592000</string>
		<key>audioAlbum</key>
		<string>蒙面唱将</string>
		<key>audioLyric</key>
		<string>汪苏泷-追光者.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rh01.sycdn.kuwo.cn/resource/n3/89/64/1029618124.mp3</string>
		<key>audioName</key>
		<string>下一秒</string>
		<key>audioSinger</key>
		<string>张碧晨</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/6/72/3732390216.jpg</string>
		<key>audioAlbum</key>
		<string>电视原声</string>
		<key>audioLyric</key>
		<string></string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n3/128/65/38/658054348.mp3</string>
		<key>audioName</key>
		<string>自导自演</string>
		<key>audioSinger</key>
		<string>周杰伦</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/42/97/3914752958.jpg</string>
		<key>audioAlbum</key>
		<string>跨时代</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ri01.sycdn.kuwo.cn/resource/n3/89/22/1331689857.mp3</string>
		<key>audioName</key>
		<string>不要说话</string>
		<key>audioSinger</key>
		<string>陈奕迅</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/44/10/3787691319.jpg</string>
		<key>audioAlbum</key>
		<string>不想放手</string>
		<key>audioLyric</key>
		<string>不要说话.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n3/128/74/31/1670327590.mp3</string>
		<key>audioName</key>
		<string>外滩十八号</string>
		<key>audioSinger</key>
		<string>袁成杰</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/48/33/1336918288.jpg</string>
		<key>audioAlbum</key>
		<string>男才女貌</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.re01.sycdn.kuwo.cn/resource/n2/23/54/388169600.mp3</string>
		<key>audioName</key>
		<string>喜帖街</string>
		<key>audioSinger</key>
		<string>谢安琪</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/42/50/1391111203.jpg</string>
		<key>audioAlbum</key>
		<string>Binary</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.re01.sycdn.kuwo.cn/resource/n3/67/10/2645918637.mp3</string>
		<key>audioName</key>
		<string>你还要我怎样</string>
		<key>audioSinger</key>
		<string>薛之谦</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/10/94/745334819.jpg</string>
		<key>audioAlbum</key>
		<string>意外</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.ra01.sycdn.kuwo.cn/resource/n2/8/2/3726133611.mp3</string>
		<key>audioName</key>
		<string>老街</string>
		<key>audioSinger</key>
		<string>李荣浩</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/89/64/2470139548.jpg</string>
		<key>audioAlbum</key>
		<string>小黄</string>
		<key>audioLyric</key>
		<string>老街.lrc</string>
	</dict>
	<dict>
		<key>audioUrl</key>
		<string>http://other.web.rh01.sycdn.kuwo.cn/resource/n3/26/30/581951986.mp3</string>
		<key>audioName</key>
		<string>拥抱</string>
		<key>audioSinger</key>
		<string>周玥翻唱</string>
		<key>audioImage</key>
		<string>http://star.kuwo.cn/star/starheads/180/79/26/2865933807.jpg</string>
		<key>audioAlbum</key>
		<string>好不容易</string>
	</dict>
</array>
</plist>
